{% load wagtailimages_tags wagtailembeds_tags %}

 <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">MARTA</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
{#                    {% for menuitem in menuitems %}#}
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="tel:0549438101">0549438101</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#video">Видео</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Мультиварки</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Преимущества</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Доставка</a>

                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Контакты</a>
                    </li>
{#                    {% endfor %}#}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

 <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">мультиварки и скороварки</div>
                <a href="#video" class="page-scroll btn btn-xl">смотреть видео</a>
            </div>
        </div>
    </header>