{% load wagtailimages_tags wagtailembeds_tags wagtailcore_tags %}
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Выбираем мультиварку</h2>
                    <h3 class="section-subheading text-muted">Все модели с описанием и видеообзорами.</h3>
                </div>
            </div>
            <div class="row">
                {% for product_item in product_items %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#{{ product_item.id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <!-- <i class="fa fa-plus fa-3x"></i> -->
                                <b><h4>нажмите, чтобы узнать подробности</h4></b>
                            </div>
                        </div>
                        {% image product_item.image width-400 as product_image %}
                        <img src="{{ product_image.url }}" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ product_item.caption }}₪</h4>
                    </div>
                </div>
                {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% for product_item in product_items %}

  <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="{{ product_item.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{ product_item.caption }}</h2>
                            <a href="tel:0549438101" ><button type="button" class="btn btn-xl"><i class="fa fa-phone"></i>  0549438101</button></a>

                            <p class="item-intro text-muted">{{ product_item.caption }}</p>

                            {% image product_item.image width-400 as product_image %}
                            <img class="img-responsive img-centered" src="{{ product_image.url }}" alt="">
                        <br>
                            <div class="row text-center" style="box-shadow: 0px 4px 40px 3px rgba(0, 0, 0, 0.5);">
                                <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item"  src="{{ product_item.video }}"></iframe>
                                </div>
                            </div>
                            <p>{{ product_item.description|richtext }}</p>
                            <a href="tel:0549438101" ><button type="button" class="btn btn-xl"><i class="fa fa-phone"></i>  0549438101</button></a>
                            <p>
                                <li><strong>обычная цена<h1>{{ product_item.price }} ₪</h1></strong></li>
                            {% if product_item.sale %}
                                <li style="color: #e74c3c;"><strong>цена для вас<h1>{{ product_item.sale }} ₪</h1></strong></li>
                            {% endif %}
                            </p>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
