{% extends "base.html" %}
{% load i18n %}
{% block title %}О нет! Кажется сервер ошибся =({% endblock %}
{% block content %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

    <header id="home">
        <div class="container text-center">
            <p style="z-index:100;
               position:absolute;
               color:white;
               font-size:36px;
               font-weight:bold;
               left:150px;
               top:350px;">
                Internal Server Error <br>
                О нет! Кажется сервер ошибся =( <br>
                Мы уже предупреждены об этой ошибке.</p>
            <a href="http://thecatapi.com">
                <img src="http://thecatapi.com/api/images/get?format=src&type=gif"
                style="position:absolute;
                left:0;
                top:0;
                width: 100%;
                height: 100%">
           </a>
        </div>
    </header>

{% endblock %}
